.DS_Store
.idea
.ipynb_checkpoints/
.vscode

*.bin
*.pkl
*.pt
*.pyc
*.csv
*.zip
*.bin
models
input.txt
chessEnv/
wandb
env/
mlflow_storage/
mlruns/
__pycache__

##testing
chess_saver/
first_few_lines.txt


data/random_generated/train9gb.bin
data/random_generated/val9gb.bin
data/random_generated/train1M.bin
data/random_generated/val1M.bin
data/lichess_hf_dataset/pgns/

evaluation/eval_models/*
evaluation/eval_datasets/*

!benchmark_results.csv
