.DS_Store
.idea
.ipynb_checkpoints/
.vscode

*.bin
*.pkl
*.pt
*.pyc
*.csv
*.zip
models
input.txt
chessEnv/
wandb
env/
mlflow_storage/
mlruns/
__pycache__


data/lichess_hf_dataset/train9gb.bin
data/lichess_hf_dataset/val9gb.bin
data/lichess_hf_dataset/train1M.bin
data/lichess_hf_dataset/val1M.bin
data/lichess_hf_dataset/pgns/

evaluation/eval_models/*
evaluation/eval_datasets/*

!benchmark_results.csv
