.DS_Store
.idea
.ipynb_checkpoints/
.vscode

*.bin
*.pkl
*.pt
*.pyc
*.csv
*.zip
*.bin
*.pgn
*.part

elo_quick_save.json

models
input.txt
chessEnv/
wandb
env/
mlflow_storage/
mlruns/
__pycache__

##testing
chess_saver/
first_few_lines.txt


data/lichess_hf_dataset/pgns/

evaluation/eval_models/*
evaluation/eval_datasets/*

!benchmark_results.csv
